.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  box-shadow: 0px 0px 50px -10px #c9c9c9;
  display: flex;
  align-items: flex-start;
}

.header-name {
  margin-top: 16px;
  margin-left: 16px;
}

.header-image {
  margin-left: 16px;
}

.wrapper-data {
  display: flex;
  max-width: 80vw;
  margin-left: 10vw;
}